apiVersion: kots.io/v1beta1
kind: HelmChart
metadata:
  name: harbor

spec:
  chart:
    name: harbor
    chartVersion: 1.11.1

  # helmVersion identifies the Helm Version used to render the Chart. Default is v2.
  helmVersion: v3

  # useHelmInstall identifies whether this Helm chart will use the
  # Replicated Helm installation (false) or native Helm installation (true). Default is false.
  # Native Helm installations are only available for Helm v3 charts.
  useHelmInstall: true

