apiVersion: kots.io/v1beta1
kind: HelmChart
metadata:
  name: harbor

spec:
  chart:
    name: harbor
    chartVersion: 1.11.1

  # helmVersion identifies the Helm Version used to render the Chart. Default is v2.
  helmVersion: v3

  # useHelmInstall identifies whether this Helm chart will use the
  # Replicated Helm installation (false) or native Helm installation (true). Default is false.
  # Native Helm installations are only available for Helm v3 charts.
  useHelmInstall: true

  # values are used in the customer environment, as a pre-render step
  # these values will be supplied to helm template
  values:
    externalURL: https://registry.{{repl ConfigOption "domain" }}

  optionalValues:
  - when: '{{repl (ConfigOptionEquals "tls-issuer-type" "cluster-issuer") }}'
    recusirveMerge: false
    values:
      expose:
        ingress:
          hosts:
            core: registry.{{repl ConfigOption "domain" }}
            notary: notary.{{repl ConfigOption "domain" }}
          annotations:
            cert-manager.io/cluster-issuer: '{{repl (ConfigOption "tls-issuer-name" ) }}'
            ingress.kubernetes.io/force-ssl-redirect: "true"

  - when: '{{repl (ConfigOptionEquals "tls-issuer-type" "issuer") }}'
    recusirveMerge: false
    values:
      expose:
        ingress:
          hosts:
            core: registry.{{repl ConfigOption "domain" }}
            notary: notary.{{repl ConfigOption "domain" }}
          annotations:
            cert-manager.io/issuer: '{{repl (ConfigOption "tls-issuer-name" ) }}'
            ingress.kubernetes.io/force-ssl-redirect: "true"

