---
apiVersion: kots.io/v1beta1
kind: Application
metadata:
  name: harbor
spec:
  title: Harbor
  icon: https://raw.githubusercontent.com/cncf/artwork/master/projects/harbor/icon/color/harbor-icon-color.png
  statusInformers:
  - deployment/harbor-core
  - deployment/harbor-registry
  - deployment/harbor-portal
  ports:
    - serviceName: "harbor"
      servicePort: 443
      localPort: 8843
      applicationUrl: "https://harbor"
